annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
bcrypt==5.0.0
cffi==2.0.0
click==8.3.2
cryptography==46.0.7
Django==6.0.4
djangorestframework==3.17.1
fastapi==0.136.0
h11==0.16.0
idna==3.11
invoke==3.0.3
paramiko==4.0.0
pycparser==3.0
pydantic==2.13.1
pydantic_core==2.46.1
PyNaCl==1.6.2
sqlparse==0.5.5
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
